@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
:root
{
   --white: #fcfcfa;
    --black: #131313;
    --gray: #F0F2F5;
    --blue:#00A1E7;
    --orange: #FF5F1F;
    --textgray:#565656;
}

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');
body{
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    padding: 20px;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-div{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
}
.left-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
  
}
.right-div
{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-div img{
height: 400px;
margin-left: auto;
}
.main-txt{
    font-size: 3rem;
    font-weight: 600;
    color: var(--textgray);
    font-family: 'Inter', sans-serif;
}
.sub-txt{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--orange);
    margin-bottom: 1rem;
    font-family: 'Inter', sans-serif;
}
.txt{
    font-size: 1rem;
    font-weight: 300;
    color:var(--black);
    margin-bottom: 1rem;
    font-family: 'Inter', sans-serif;
}
span
{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input{
    margin-right: 20px;
    width: 60%;
    height:100%;
    border: none;
    outline: none;
    border-radius: 15px;
    font-weight: 100;
    color: var(--black);
    padding: 5px 20px;
    background-color: var(--gray);
}
button{
    width: 40%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 0;
    margin: 0;
    font-size: 13px;
    background-color: var(--blue);
    color: var(--white);
}
footer{
    display: inline-flex;
    position: fixed;
    bottom: 0;
}


 p a i{
    font-size: 30px;
    color: #cecccc;
}
p a#privacypolicy{

    font-family: 'Roboto' sans-serif;
} 